

html, body{
  height: 100%;
  margin:0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111111;
  overflow: hidden;
}
.text {

	color: white;
  padding: 10%;
	font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.text-header {
  margin-bottom: 1em;
}

.btn.btn-secondary{
  cursor:pointer;
  margin-top:1em;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
	letter-spacing: -1px;
  color: white;
  font-family:monospace;
}
@media (max-width: 576px) {
  .text {
  	position: absolute;
  	color: white;
    padding-top: 30%;
  	font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .text {
  	position: absolute;
  	color: white;
    padding-top: 30%;
  	font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
}
